
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Mail</th>
      <th scope="col">Phone</th>
      <th scope="col">Salary</th>
      <th scope="col">Department</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.salary}}</td>
      <td>{{employee.department}}</td>
      <th><a [routerLink]="['edit/' + employee.id]">View</a></th>

    </tr>

  </tbody>
</table>
